<%- include('../partials/head') %>
    <%- include('../partials/header') %>
        

<div>
    <button class="openbtn" onclick="toggleNav()">&#9776; public transport</button>
    <button class="openbtn" onclick="toggleNav()">&#9776; car</button>
</div>

<div class="main-body" >
    <div id="mySidebar" class="sidebar col-xs-4">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>

<div id="mapid" class="col-xs-4">
            <style>
             
            </style>
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>

            <script>

                var mymap = L.map('mapid').setView([51.04088507976174, 13.747935536172829], 16);
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(mymap);


                var BikeIcon = L.icon({
                    iconUrl: src = "https://static.nextbike.net/map/marker/mobibike/12/supplied/h100.png",
                    iconSize: [80, 80], 
                });

                function setBikeMarker(lat, lng, name, bikes) {
                    var marker = L.marker([lat, lng], { icon: BikeIcon }).addTo(mymap);
                    marker.bindPopup("<b>" + name + "</b><br>" + bikes + " Fahrräder sind verfügbar");
                }

                var circle = L.circle([51.03984646311162, 13.748125423835354], {
                    radius: 7,
                    color: 'black',
                    opacity: 0.7,
                    fillColor: 'yellow',
                    fillOpacity: '0.5'
                }).addTo(mymap);
                var circle = L.circle([51.04115536844868, 13.74958479726216],{
                    radius: 7,
                    color: 'black',
                    opacity: 0.7,
                    fillColor: 'yellow',
                    fillOpacity: '0.5'
                }).addTo(mymap);
                var circle = L.circle([51.040648957041604, 13.749128680312026],{
                    radius: 7,
                    color: 'black',
                    opacity: 0.7,
                    fillColor: 'yellow',
                    fillOpacity: '0.5'
                }).addTo(mymap);

                var marker = L.marker([51.04611, 13.75499]).addTo(mymap);
                marker.bindPopup("Straßburger Platz")
                var marker = L.marker([51.04257, 13.75133]).addTo(mymap);
                marker.bindPopup("Georg-Arnhold-Bad")
                var marker = L.marker([51.03838, 13.74660]).addTo(mymap);
                marker.bindPopup("Lennéplatz")
                
                <% for (var i = 0; i < mobiStations.length; i++) { %>
                    setBikeMarker(<%=  mobiStations[i].lat %>, <%=  mobiStations[i].lng %>, "<%=  mobiStations[i].name %>", <%=  mobiStations[i].bikes %>);
                <% } %>
                    setBikeMarker(51.04088507976174, 13.747935536172829, "Stadion");
            </script>
        </div>
</div>

        <%- include('../partials/footer') %>