<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <div class="container mt-3 mb-3">
        <h1 class="text-center">Parkplätze</h1>
    </div>
    

    <div class="row">
        <div class="col-sm-4 col-md-3 overflow-auto" style="height: 600px;">
            <% for(let p of parkingStatus) { %> 
                <% if (p.free !==0) { %> 
                    <% if(p.state === "open") { %>
                <div class="card parking" style="width: 18rem; position: relative; flex-direction: row">
                    <div class="card-body">
                        <h5 class="card-title"><%= p.name %></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= p.address %></h6>
                    </div>
                    <div class="card-body free">
                        <% if (p.free <= 10) { %>  
                            <h6 style="color: red;"><%= p.free %>/<%= p.total %></h6>
                        <% } %> 
                        <% if (p.free > 10 && p.free <= 50) { %>
                            <h6 style="color: orange;"><%= p.free %>/<%= p.total %></h6>
                        <% } %>
                        <% if(p.free > 50) { %> 
                            <h6 style="color: green;"><%= p.free %>/<%= p.total %></h6>
                            <% } %>
                    </div>
                </div>
                    <% } %> 
                <% } %> 
            <% } %>
        </div>
        <div class="col-sm-8 col-md-9">
            <div id="mapid" class="col-xs-4">
                <style>
                 
                </style>
                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                    crossorigin=""></script>
            
                <script>
            
                    var mymap = L.map('mapid').setView([51.04088507976174, 13.747935536172829], 16);
                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(mymap);
            
            
                    var BikeIcon = L.icon({
                        iconUrl: src = "https://static.nextbike.net/map/marker/mobibike/12/supplied/h100.png",
                        iconSize: [80, 80], 
                    });
            
                    function setBikeMarker(lat, lng, name, bikes) {
                        var marker = L.marker([lat, lng], { icon: BikeIcon }).addTo(mymap);
                        marker.bindPopup("<b>" + name + "</b><br>" + bikes + " Fahrräder sind verfügbar");
                    }
            
                    var circle = L.circle([51.03984646311162, 13.748125423835354], {
                        radius: 7,
                        color: 'black',
                        opacity: 0.7,
                        fillColor: '#fad10f',
                        fillOpacity: '0.5'
                    }).addTo(mymap);
                    var circle = L.circle([51.04115536844868, 13.74958479726216],{
                        radius: 7,
                        color: 'black',
                        opacity: 0.7,
                        fillColor: '#fad10f',
                        fillOpacity: '0.5'
                    }).addTo(mymap);
                    var circle = L.circle([51.040648957041604, 13.749128680312026],{
                        radius: 7,
                        color: 'black',
                        opacity: 0.7,
                        fillColor: '#fad10f',
                        fillOpacity: '0.5'
                    }).addTo(mymap);
            
                    var parkIcon = L.icon({
                        iconUrl: src = "https://upload.wikimedia.org/wikipedia/commons/8/80/Zeichen_314-50_-_Parkplatz%2C_StVO_2013.svg",
                        iconSize: [30, 30], 
                    });

                    var marker = L.marker([51.03855, 13.73151], {icon: parkIcon}).addTo(mymap);
                    marker.bindPopup("City Center")
                    var marker = L.marker([51.0345974, 13.744492], {icon: parkIcon}).addTo(mymap);
                    marker.bindPopup("Strehlener Strasse")
                    
                    
                    
                </script>
            </div>
        </div>
    </div>




<%- include('../partials/footer') %>
